<!doctype html>
<html lang="ko">
<head>
    <meta property="og:site_name" content="Pyladies Seoul"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Pyladies Seoul"/>
    <meta property="og:url" content="http://seoul.pyladies.com"/>
<meta charset="UTF-8">
<script>
    <!-- google analystics space -->
</script>
{% block head %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

<footer>
    <div class="details">
        made by pyladies seoul.
        <address>Copyright 2014 Pyladies Seoul. All rights reserved</address>
    </div>
</footer>
</body>
</html>
